@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171821;
  --foreground: #f5f6f8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.8);
  }
  80% {
    transform: translateX(-10%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.pop-in-animation {
  animation: pop-in 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}